*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-device-width: 320px) {
  .grid {
    column-count: 1;
    column-gap: 1rem;
  }
}

@media screen and (min-device-width: 321px) and (max-device-width: 768px) {
  .grid {
    column-count: 2;
    column-gap: 1rem;
  }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .grid {
    column-count: 3;
    column-gap: 1rem;
  }
}

@media screen and (min-width: 1025px) {
  .grid {
    column-count: 4;
    column-gap: 1rem;
  }
}
.grid-item {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
}
.grid-item:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
.grid-item:hover .save {
  opacity: 1;
  cursor: pointer;
}
.grid-item:hover .link {
  opacity: 1;
  cursor: pointer;
}
.grid-item:hover .share {
  opacity: 1;
  cursor: pointer;
}
.grid-item:hover .menu {
  opacity: 1;
  cursor: pointer;
}
.save {
  position: absolute;
  z-index: 2;
  top: 0.5rem;
  right: 0.5rem;
  height: 1rem;
  width: 3rem;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.829);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  position: absolute;
  z-index: 2;
  bottom: 0.5rem;
  left: 0.5rem;
  height: 1rem;
  width: 3rem;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.829);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share {
  position: absolute;
  z-index: 2;
  bottom: 0.5rem;
  right: 5rem;
  height: 1rem;
  width: 3rem;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.829);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  position: absolute;
  z-index: 2;
  bottom: 0.5rem;
  right: 0.5rem;
  height: 1rem;
  width: 3rem;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.829);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}